/* Principal */
nav #menu{
    width: 70%
    margin : 0;
    padding: 10px 0 0 0;
    list-style: none;
    background: #111;
    background: -moz-linear-gradient(#444,#111);
    background: -webkit-gradient(linear,left bottom, left top, color-stop(0,#111),color-stop(0,#444));
    background: -webkit-linear-gradient(#444,#111);
    background: -o-linear-gradient(#444,#111);
    background: -ms-linear-gradient(#444,#111);
    background: linear-gradient(#444,#111);
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c
}

nav #menu li{
    float: left;
    padding: 0 0 10px 0;
    position : relative;
}
nav #menu a{
     float: left;
     height: 25px;
     padding: 0 25px;
     color: #f33813;
     text-transform: uppercase;
     font: 400 13px/25px 'Raleway',serif;
     text-decoration: none;
     text-shadow: 0 1px 0 #000;

}
nav #menu li a:hover{
    color: #fafafa;
}
nav #menu li:hover > ul{
    display: block;
}

nav #menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index:999999;
    background: #444;
    background: -moz-linear-gradient(#444,#111);
    background: -webkit-gradient(linear,left bottom, left top, color-stop(0,#111),color-stop(0,#444));
    background: -webkit-linear-gradient(#444,#111);
    background: -o-linear-gradient(#444,#111);
    background: -ms-linear-gradient(#444,#111);
    background: linear-gradient(#444,#111);
    border-radius: 5px;
}



    nav #menu ul li{
       float: none;
       margin:0;
       padding:0;
       display: block;
       -moz-box-shadow: 0 1px 0 #e3e3ec, 0 2px 0 #2c25d0;
       -webkit-box-shadow: 0 1px 0 #e3e3ec, 0 2px 0 #2c25d0;
       box-shadow: 0 1px 0 #e3e3ec, 0 2px 0 #2c25d0; /*séparation sous menu*/
   }


 nav #menu ul a {
     padding: 10px;
     height: auto;
     line-height: 1;
     display: block;
     white-space: nowrap;
     float: none;
     text-transform;
 }

 nav #menu ul a:hover{

 background: #0186ba;
 background: linear-gradient(#ec199c,#f9cf16);
 }

 nav #menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0 ;
    -webkit-border-radius:  5px 5px 0 0 ;
 }


   nav #menu ul li:first-child a:after{
  content:'';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right:5px solid transparent;
  border-bottom: 8px solid #444;
 }
 nav #menu ul li:first-child a:hover:after{
     border-bottom-color: #e73f12;
 }


 nav #menu ul li:last-child a{
   border-radius: 0 0 5px 5px;
   bax-shadow: none;
 }

 nav #menu ul li:last-child a:after{

  border-bottom-color: #04acec;

 }
          /* retablissement du flottement*/
 nav #menu:after{

 display: block;
 content: " ";
 clear: both;
 }
















































