
<ul>
    <li>
        <div>
            <p><b>Marque : </b> {{voiture.marque}}  </p>
        </div>
      </li>
      <li>
        <div>
            <p><b>Modele: </b>  {{voiture.modele}} </p>
        </div>
      </li>
      <li>
        <div>
           <p><b>Prix : </b>  {{voiture.prix}} </p>
        </div>
      </li>
  <li>
    <div>
        <p><b>Carburant : </b> {{voiture.carburant}}  </p>
    </div>
  </li>
  <li>
    <div>
        <p><b>Boite à vitesse : </b>  {{voiture.boiteAvitesse}} </p>
    </div>
  </li>
  <li>
    <div>
       <p><b>Année : </b>  {{voiture.annee}} </p>
    </div>
  </li>
  <li>
    <div>
       <p><b>Kilométrage : </b>  {{voiture.kilometrage }}  Km</p>
    </div>
  </li>
</ul>
